.title
{
    width: 150px;
    color: white;
    background-color: rgb(240, 93, 6);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.title::after
{
    background-color: rgb(240, 93, 6);
    content: "";
    width: 190px;
    position: absolute;
    height: 85px ;
    transform: skew(10deg, 10deg);
    z-index: -1;
}
.title::before
{
    background-color: rgb(240, 93, 6);
    content: "";
    width: 190px;
    position: absolute;
    height: 85px ;
    transform: skew(-10deg, -10deg);
    z-index: -1;
}

.title-2
{
    width: 150px;
    color: white;
    background-color: rgb(56, 149, 136);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    font-size: 40px;
    
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.title-2::after
{
    background-color: rgb(56, 149, 136);
    content: "";
    width: 20px;
    position: absolute;
    height: 86px ;
    transform: skew(20deg) translateX(-130px);
    z-index: -1;
}
.title-2::before
{
    background-color: rgb(56, 149, 136);
    content: "";
    width: 190px;
    position: absolute;
    height: 86px ;
    transform: skew(20deg) translateX(-16px);
    z-index: -1;
}

.title-3
{
    background-color: rgb(102, 124, 140);
    width: 200px;
    height: 200px;
    margin: 100px auto;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transform-origin: center center;
    position: relative;
}

.title-3::after
{   
    content: "Elzero";
}
.title-3::before
{
    content: "";
    background-color: black;
    width: 200px;
    height: 200px;
    z-index: 2;
    position: absolute;
    transform-origin: center center;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    box-sizing: border-box;
    transform:translate(-10px,-85px) scale(0.71) rotate(45deg) ;
}

/* .box {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center;
}
.box:hover {
  transform: translateX(-100%) rotateY(-180deg);
}
.box .face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
  backface-visibility: hidden;
}
.box .front {
  background-color: red;
}
.box .back {
  background-color: green;
  transform: rotateY(180deg);
} */

.box
{
  width: 200px;
  height: 200px;
  margin: 40px auto;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s ease-out;
  transform-origin: left top;
} 

.box .face 
{
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  backface-visibility: hidden;
  
}

.box:hover
{
  transform: translateX(200px)  rotateY(180deg) ;
}

.front
{
  background-color: rgb(235, 61, 99);
}
.back
{
  background-color: rgb(81, 142, 255);
  transform: rotateY(180deg);
}