.parent 
{
    width: 600px;
    height: 300px;
    background-color: #EEE;
    margin: 20px auto;
    padding :10px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.parent div 
{
    background-color: rgb(56, 149, 136);
    color: white;
    width:6%;
    height: calc(95% / 3);
    margin-top: 1.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;    
    font-family: Arial, Helvetica, sans-serif;
    
}
.parent .two
{
    display: flex;
    align-self: flex-start;
    min-width: 50%;
}
