.parent 
{
    width: 600px;
    height: 300px;
    background-color: #EEE;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.parent div
{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #EEE;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 15%;
}
.four
{
    background-color: rgb(106, 52, 188);
    order: 1;
    align-self: flex-end;
}
.one
{
    background-color: #f29b00;
    order: 2;
    
}
.two
{
    background-color: rgb(143, 196, 54);
    order: 3;
    align-self: flex-end;
    
}
.three
{
    background-color: rgb(116, 86, 70);
    order: 4;
    
}