.div
{
    background-color: transparent;
    width: 450px;
    margin: auto;
}

.div .first
{
    background-color: #EEE;
    width: 100px;
    height: 100px;
    display: inline-block;  
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 60px;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    box-shadow: 5px 5px 0px 0px rgb(83, 146, 248) , -5px -5px 0px 0px #db2863;
    counter-increment: element;
    position: relative;
}

.div .first span
{
    background-color: black;
    color: white;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    position: absolute;
    border-radius: 15px;
    top: -10px;
    left:40%;
}
.gray
{
    background-color: #eee;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    box-shadow: 0px 0px 20px 0px black inset;
    border-top-left-radius:10px 25px ;
    border-bottom-right-radius:10px 25px ;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.all
{
    width: 550px;
    height: 350px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    
}
.all .file1
{
    background-color: #EEE;
    width: 230px;
    height: 280px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    
}
.all .file2
{
    background-color: #eee;
    width: 230px;
    height: 280px;
    margin-left: 50px;
    margin-top: 20px;
    float: left;
    
}
.botton1
{
    width: 180px;
    margin-left: 50px;
    background-color: #51a6f9;
    padding: 10px;
    text-align: center;
    color: white;
    position: absolute;
    top: 35px;
    left: -15px;
    border-radius: 10px;
}
.botton2
{
    width: 180px;
    margin-left: 50px;
    background-color: #51a6f9;
    padding: 10px;
    text-align: center;
    color: white;
    position: absolute;
    top: 35px;
    left: 266px;
    border-radius: 10px;
}
.main1
{
    background-color: #DDD;
    width:180px;
    height: 180px;
    border-radius: 150px;
    text-align: center;
    line-height: 180px;
    font-size: 30px;
    position: absolute;
    top: 100px;
    left: 45px;
}
.main2
{
    background-color: #DDD;
    width:180px;
    height: 180px;
    border-radius: 150px;
    text-align: center;
    line-height: 180px;
    font-size: 30px;
    position: absolute;
    top: 100px;
    left: 325px;
}
.all span
{
    background-color: #51a6f9;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 45%;
    left: 47.5%;
}
.all .div2
{
    height: 80%;
    width: 2px;
    background-color: #51a6f9;
    display: inline-block;
    position: absolute;
    top: 5.7%;
    left: 275px;
}

.product 
{   
    background-color: white;
    width :550px;
    height: 300px;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    z-index: 1;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
}
.plane
{
    background-color: #EEE;
    margin-left: 20px;
    margin-right: 19px;
    width:230px;
    height: 90%;
    margin-top: 3%;
    display: inline-block;
}
.one
{
    margin-right: 25px;
}
.botton
{   
    color: white;
    width: 80%;
    height: 15%;
    background-color: #51a6f9;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 200%;
    border-radius: 6px;
}
.basic
{   
    width: 184px;
    height: 184px;
    margin: auto;
    background-color: #DDD ;
    border-radius: 100%;
    line-height: 700%;
    font-size: 24px;
}
.line
{
    
    height: 90%;;
    width:3px;
    height: 90%;
    margin-top: 3%;
    background-color: #51a6f9;
    position: absolute;
    top:0;
    left: 49.7%;
}
.or
{
    
    height: 90%;;
    width:30px;
    height: 30px;
    border-radius: 20px ;
    color: white;
    line-height: 30px;
    margin-top: 3%;
    background-color: #51a6f9;
    position: absolute;
    top:41%;
    left: 47.3%;
}