.one,
.two,
.three {
    background-color: #EEE;
    display: inline;
    padding: 20px;
    margin: 15px;
    margin-top: 10;
    outline: 5px solid black;

}

.one {
    border: 5px solid red;
}

.two {
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
    border-right: 5px solid green;
    border-left: 5px solid green;
}

.three {
    border-top: 5px dashed red;
    border-bottom: 5px dashed blue;
    border-right: 5px dashed green;
    border-left: 5px dashed yellow;
}

.a,
.b,
.c {
    background-color: #EEE;
    width: 400px;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.a
{
    border-left: 5px solid #db2863;
    outline:10px solid #EEE ;
}
.b
{
    border-left: 5px solid #db2863;
    outline:10px solid #EEE ;
     visibility:collapse;
}
.c
{
    border-left: 5px solid rgb(56, 149, 136);
    outline:10px solid #EEE ;
}