.green
{
    width:100px;
    height:100px;
    background-color: rgb(56, 149, 136);
    z-index: 3;
    top:20px;
    left:20px;
}
.red
{
    width:100px;
    height:100px;
    background-color: rgb(229, 73, 46);
    z-index: 4;
    top:30px;
    left:30px;
}
.blue
{
    width:100px;
    height:100px;
    background-color: rgb(81, 166, 249);
    z-index: 2;
}
.black
{
    width:100px;
    height:100px;
    top:20px;
    background-color: rgb(51, 51, 51);
    z-index: 1;
}
div
{
    position:absolute;
}