div
{
    background-color:#EEE ;
    padding: 20px ;
    margin: auto ;
    margin-top: 10px ;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
html
{
    font-size: 20px;
}

.one
{
    font-size: 2.5rem;
}

.two
{
    font-size: 2rem;
}
.three
{
    font-size: 1.5rem;
}
