.div1
{
    text-align: center;
    padding: 30px;
    background-color: #EEE;
    width: 400px;
    margin: auto;
    margin-top:10px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 40px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0 rgb(226, 74, 50) ,2px 2px 0 rgb(83, 146, 248),3px 3px 0 rgb(151, 34, 181);
}
.div2
{
    text-align: center;
    padding: 30px;
    background-color: #EEE;
    width: 400px;
    margin: auto;
    margin-top:10px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.one
{
    text-transform: uppercase;
}
.two
{
    text-transform: capitalize;
}
.three
{
    text-transform: lowercase;
}
.div3
{
    text-align: left;
    padding: 30px;
    background-color: #EEE;
    width: 400px;
    margin: auto;
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius: 30px;

}
.div4
{
    text-align: left;
    padding: 30px;
    background-color: #EEE;
    width: 400px;
    margin: auto;
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius: 30px;

}
.div5
{
    text-align: left;
    padding: 30px;
    background-color: #EEE;
    width: 400px;
    height: 20px;
    margin: auto;
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid black;
    border-radius: 30px;

}
a
{
    background-color: rgb(56, 149, 136);
    padding: 10px;
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
    border-bottom: 4px solid rgb(27, 81, 74);
    display:block;
    text-align: center;
    width: 40px;
    margin: auto;
    
}

