*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-transform: capitalize;
}

/****************************************************************/
.grid 
{
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: auto 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin: auto;
}
.grid div
{
    background-color:rgb(102, 124, 140) ;
    counter-increment:crt ; 
    padding: 20px;
    text-transform: capitalize;
    color: rgb(254, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid div::before
{
    content: "element " counter(crt);
}

/****************************************************************/

.layout
{
    height: 100vh ;
    background-color: #ddd;
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    grid-template-rows: 10% 80% 10% ;
    grid-template-areas:"head head head head head head head head head head " 
    "sec sec sec sec sec sec sec about about about"
    "foot foot foot foot foot foot foot foot foot foot ";
    color: #FFFFFF;
}
.layout header
{
    grid-area: head;
    background-color:rgb(81, 166, 249) ;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.layout header::after
{
    content: "header";
}

.layout section
{
    grid-area: sec;
    background-color: rgb(240, 93, 6);
    padding: 20px;
    padding-left: 20px;
}

.layout section::after
{
    content: "section";
}
.layout aside
{
    grid-area: about;
    background-color: rgb(102, 124, 140);
    padding: 20px;
    padding-left: 20px;
    
}
.layout aside::after
{
    content: "about";
}
.layout footer
{   
    grid-area: foot;
    background-color:rgb(56, 149, 136) ;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.layout footer::after
{
    content: "footer";
    
}

/****************************************************************/
.grid-2
{
    background-color: #DDD;
    padding:20px;
    width: 800px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns:  auto repeat(2 , 1fr) auto;
    grid-template-rows: 1fr auto;
    grid-gap: 20px 20px;
}
.grid-2 div
{
    color: #FFFFFF;
    background-color: rgb(64, 63, 63);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/****************************************************************/
.grid-3
{
    background-color: #DDD;
    padding:20px;
    width: 800px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns:  repeat(9 , 1fr);
    grid-template-rows: repeat(6 ,1fr);
    grid-gap: 20px 20px;
    
}

.grid-3 div
{
    color: #FFFFFF;
    background-color: rgb(83, 146, 248);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid-3 .eight
{
    grid-row: 1 / 2;
    grid-column:1 / 10 ;
}
.grid-3 .two
{
    grid-row: 2 / 3;
    grid-column:1 / 7 ;
}
.grid-3 .three
{
    grid-row: 2 / 3;
    grid-column:7 / 10 ;
}
.grid-3 .four
{
    grid-row: 3 / 4;
    grid-column:1 / 4 ;
}
.grid-3 .six
{
    grid-row: 4 / 5;
    grid-column:1 / 4 ;
}
.grid-3 .seven
{
    grid-row: 5 / 6;
    grid-column:1 / 4 ;
}
.grid-3 .five
{
    grid-row: 3 / 6;
    grid-column:4 / 10 ;
}
.grid-3 .one
{
    grid-row: 6 / 6;
    grid-column:1 / 10 ;
}

/****************************************************************/
.grid-4
{
    background-color: #DDD;
    padding:20px;
    width: 800px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2 , 2fr);
    grid-template-rows: repeat(2,auto) ;
    grid-gap: 20px 20px;
    align-content: space-between;
}

.grid-4 div
{
color: #FFFFFF;
    background-color: rgb(219, 40, 99);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/****************************************************************/

.body
{
    height: 100vh;
    
    background-color: #DDD;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: repeat(8 ,1fr);
    grid-gap: 20px 20px;
    overflow: auto;
}

.body div
{
    position: relative;
}
.body div span {
    font-size: 60px;
    position: absolute;
    bottom: -25px;
    right: 10px;
    color: gray;
}
.body .name
{
    font-size: 18px;
    font-weight: bold;

}
.title
{
    font-size: 14px;
    font-weight:300;
    color: gray;
}
.content 
{
    display: block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.content-2 
{
    display: block;
    font-size: 16px;
    overflow: hidden;
}
.osama-mohamed,
.ahmed-sayed,
.shady-nabil,
.mohamed-ibrahim,
.mahmoud-mohamed,
.ezz-eldin,
.mohamed-sayed,
.ibrahim-sayed,
.camal-sayed,
.emam-sayed
{
    overflow: hidden;
}
.osama-mohamed
{
    background-color: #EEE;
    grid-row: 1/ span 2;
    grid-column: 1 /3;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: 20px;
    color: black;
    border-bottom: 5px solid rgb(239, 73, 4);
}
.ahmed-sayed
{
    background-color: #EEE;
    grid-row: 1/3;
    grid-column: 3 /4;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
    color: black;
    border-bottom: 5px solid rgb(239, 73, 4);
}
.shady-nabil
{
    background-color: #000000;
    grid-row: 1/7;
    grid-column: 4 /4;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
    color: white;
    border-bottom: 5px solid rgb(239, 73, 4);
}
.mohamed-ibrahim
{   
    background-color: #EEE;
    grid-row: 3/7;
    grid-column: 1 /1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: black;
    border-bottom: 5px solid rgb(239, 73, 4);
}
.mahmoud-mohamed
{
    background-color: #000000;
    grid-row: 3/5;
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    border-bottom: 5px solid rgb(239, 73, 4);
}
.ezz-eldin
{
    background-color: #EEE;
    grid-row: 5/7;
    grid-column: 2 /4;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: black;
    border-bottom: 5px solid rgb(239, 73, 4);
}
.mohamed-sayed
{
    background-color: #EEE;
    grid-row: 7/9;
    grid-column: 1 /1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: black;
    border-bottom: 5px solid rgb(239, 73, 4);
}
.ibrahim-sayed
{   
    background-color: black;
    grid-row: 7/9;
    grid-column: 2 /3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    border-bottom: 5px solid rgb(239, 73, 4);
}
.camal-sayed
{
    background-color: #EEE;
    grid-row: 7/9;
    grid-column: 3 /4;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: black;
    border-bottom: 5px solid rgb(239, 73, 4);
}
.emam-sayed
{
    background-color: #EEE;
    grid-row: 7/9;
    grid-column: 4 /5;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: black;
    border-bottom: 5px solid rgb(239, 73, 4);
}
/****************************************************************/